/*
#   Criando menu amburg com css.
#   Criar div com um spam e adiciona a classe open
#   Adicionar a classe close para aparecer o menu de close para fechar
#   Obs. para usar o menu amburg e nessesario ter uma span dentro da div
#
#   creating hamburger menu with css
#   create div with spam and add open class
#   add close class to show close menu to close obs to use amburg menu and need to have a span inside the div
*/
div.open,div.close{
    width: 30px;
    height: 30px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}
div.open span{
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: blue;
}
div.open::after{
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: blue;
    position: absolute;
    bottom: 0;
    border-radius: 5px;
}
div.open::before{
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: blue;
    position: absolute;
    border-radius: 5px;
    top: 0;
}
div.close span{
    display: none;
}
div.close::before{
    content: "";
    width: 100%;
    height: 5px;
    background-color: blue;
    display: block;
    position: absolute;
    top: 50%;
    border-radius: 5px;
    transform: translateY(-50%);
    transform: rotate(-45deg);
}
div.close::after{
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    position: absolute;
    top: 50%;
    border-radius: 5px;
    transform: translateY(-50%);
    transform: rotate(45deg);
    background-color: blue;
}

/*Configuração de formulario*/

.form-user{
    background-color: rgba(0, 0, 0, 0.671);
    color: rgba(255, 255, 255, 0.7) !important;
    padding: 8px;
}
.config-input-radio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    height: 40px;
    margin: 8px 0;
    background-color: transparent;
    padding: 0 8px;
}
.config-input,.config-button{
    background-color: transparent;
    height: 40px;
    margin: 8px 0;
}
.config-input input{
    width: 100%;
    height: 100%;
    outline: 0;
    border: 0;
    background-color: transparent;
    padding-left: 8px;
    font-size: 20px;
    color: currentColor;
}
button.btn{
    outline: 0;
    border: 0;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    height: 40px;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: all .5s linear;
}
button.btn-darck{
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.7);
}
button.btn-darck:hover{
    background-color: rgba(0, 0, 0, 0.9);
}
button.btn-darck,
.config-input,
.form-user,
.config-input-photo,
.config-input-radio{
    border-radius: 8px;
}
.config-input,
.config-input-photo,
.config-input-radio{
    border: 2px solid currentColor;
}
.config-input-photo{
    display: flex;
    align-items: center;
    height: 40px;
    margin: 8px 0;
    padding: 0 8px;
}